<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mymess.mayak">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mymess.mayak.UpdateActivity"
            android:parentActivityName="com.mymess.mayak.SettingsActivity"/>
        <activity android:name="com.mymess.mayak.SettingsActivity" />
        <activity
            android:name="com.mymess.mayak.RegisterActivity"
            android:parentActivityName="com.mymess.mayak.LoginActivity" />
        <activity android:name="com.mymess.mayak.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mymess.mayak.ProfileActivity"
            android:parentActivityName="com.mymess.mayak.MainActivity" />
        <activity
            android:name="com.mymess.mayak.ChatActivity"
            android:parentActivityName="com.mymess.mayak.MainActivity" />
        <activity android:name="com.mymess.mayak.MainActivity"/>
    </application>

</manifest>